@{
    ViewData["Title"] = "Movie Review Submitted";
}

@*The confirmation page for submitting movies!*@

@model Mission6_celder20.Models.ApplicationResponse 

<h1>Your movie information about "@Model.Title" was submitted! Thank you for your time.</h1>