@{
    ViewData["Title"] = "Unfulfilled Requirements";
}

@model Mission6_celder20.Models.ApplicationResponse

@*This is the view and text that is returned when a user 
    does not input all the values into the forms they are supposed to*@
<h1>You cannot leave the following fields blank: movie category, title, year, director, and movie rating.
    For your movie to be submitted to the database, you need to input values for all of these fields. Go back to the movie
    submission page!</h1>